@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body{
   font-family: 'Electrolize', sans-serif;
        
}
#main-head{
    font-size: xxx-large;
    
    font-weight:400px ;
    color:#0a557f ;
    height:30px ;
    font-family: 'Electrolize', sans-serif;

}
.cells{
    display:inline-block;
    width:90px;
    height:90px;
    margin:5px 2.5px 2.5px 5px;
    background-color: tomato;
    border:medium solid #0a557f;
    border-radius: 3%;
    background-size:cover; 
}
.parent{
    
    margin:auto;
    width:410px;
    height: 421px;
    background-color:  #DEDEDE;

    padding: 20px;
    border-radius: 2%;
    border:solid thick #0a557f;
   
    
}
#main-head{
    text-align: center;
}
#reset{
    font-family: 'Electrolize', sans-serif;
    display: block;
    margin:30px auto;
    background-color:#0a557f;
    color: aliceblue;
    padding:10px 30px ;
    border-radius: 5px;
    font-size: medium;
   
    
    
}
.rules{
    width:600px;
    height: 150px;
    margin:auto auto 35px ;

    
}
#rulesHead{
    text-align: center;
    
}
.popup{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255,.5);
    top: 270px;
    left:0;
    right: 0;;
    margin:auto;
    width:410px;
    height: 421px;
    padding: 18.2px;
   
}
#playagain{
     font-family: 'Electrolize', sans-serif;
    display: inline-block;
    position: absolute;
    top:300px;
    left: 0;
    right: 0;
    width: 200px;
    margin: 0 auto;
    background-color:#0a557f;
    color: aliceblue;
    padding:10px 30px ;
    border-radius: 5px;
    font-size: medium;
}
#result{
    isplay:block;
    position: relative;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
    font-size: 70px;
    color:#0a557f ;
    
}
#rulelist{
    border: solid thin tomato;
    color:#0a557f;
    border-radius: 4px;
    padding:8px 5px 7px 10px ;
    list-style-position: inside;
    
}
